.navbar-brand {
    padding-top: 7px;
}

.navbar-header {
    float: left;
    padding: 21px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.card {
    align-content: inherit;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 21px solid #BD71CE;
    display: grid;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.head {
    font-weight: bold;
    font-size: 36px;
}

.yhead {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
}

h2 {
    text-align: center;
    display: grid;
    align-self: end;
    font-weight: bold;
}

.well {
    /* font-size: 18px; */
    font-weight: bold;
    text-align: center;
}

#birthVal {
    width: 50%;
}

#mainbox {
    font-family: calibri;
}

.form-control {
    font-weight: bold;
}

.button {
    background-color: #437DC6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#wrapper {
    font-family: calibri;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 1197px) {
    #wrapper {
    font-family: calibri;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
}

@media screen and (max-width: 990px) {
    #wrapper {
    font-family: calibri;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
}

@media screen and (max-width: 620px) {
    #wrapper {
    font-family: calibri;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
}

@media screen and (max-width: 425px) {
    #wrapper {
    font-family: calibri;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
}

#ttip {
    color: #fff;
}

.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.nested > div {
    padding: 1em;
    text-align: center;
    font-size: larger;
}

.posts {
    font-weight: bold;
    color: #fff;
    background-color: #800000;
}

.chead {
    text-align: center;
    font-size: 25px;
    padding-right: 9px;
}

.sub {
    font-weight: lighter;
    color: #4d4d4d;
    font-size: 23px;
}

footer {
    text-align: center;
}